.tower
  //Title Box
  .row.u-text-center
    .any.items
      h1 forthright48
  //Navbar
  .row
    .twelve.items
      ul.nav
        li
          a(href="/") Home
        li.dropdown
          a.dropbtn(href="#") Projects
          ul.dropdown-content
            li
              a(href="#") CPPS
            li
              a(href="#") Gateway
            li
              a(href="#") View All
        li
          a(href="http://blog.forthright48.com") Blog
        li.dropdown
          a.dropbtn(href="#") About Me
          ul.dropdown-content
            li
              a(href="/intro") Intro
            li
              a(href="/findme") Find Me On
            li
              a(href="#") CV
