extends layout

block content

  p.alert.alert-info.text-xs-center The following page was last updated on <span class='update'>2016-6-15</span>. That is <span class='days'>many days ago</span>.
  .row.flex-items-xs-middle(style='min-height: 65vh;')
    .col-xs.text-xs-center
      h4
        a(href='/pdf/MyCV.pdf') Download CV
      p <a href='mailto:forthright48@gmail.com'>mail me</a> for latest cv

block scripts
  script(src='/js/intro/intro.min.js')
