extends layout

block content
  .row.flex-items-xs-middle(style='min-height: 75vh;')
    .col-xs.text-xs-center
      h3 Find Me On

      a.p-x-1(href='https://www.facebook.com/mohammad.samiul')
        img(src='/img/fb.png', title='facebook', style='width: 100px;')
      a.p-x-1(href='https://twitter.com/forthright48')
        img(src='/img/twitter.png', title= 'twitter', style='width: 100px;')
      a.p-x-1(href='https://www.linkedin.com/in/mohammad-samiul-islam-93813661')
        img(src='/img/linkedin.png', title='linkedin', style='width: 100px;')
      a.p-x-1(href='https://github.com/forthright48')
        img(src='/img/github.png', title='github', style='width: 100px;')
      a.p-x-1(href="mailto:forthright48@gmail.com")
        img(src='/img/gmail.png', title='gmail', style='width: 100px;')
