extends layout

block content
  .row.u-flex
    .three.items
      img(src="/public/img/me.jpg")
    .nine.items
      h4 Hello World
      p My name is Mohammad Samiul Islam. Currently I am a student at North South University, studying Computer Science. I am also a part time Software Enginner at <a href='http://muktosoft.com/'>Mukto Software LTD</a> and Competitive Programming Trainer at MIST.

  .row.u-flex.u-margin-top
    .nine.items
      h4 Manga Lover
      p The next thing you must know about me, is how much I love reading <a href="https://en.wikipedia.org/wiki/Manga">Manga</a>. Let me tell you how I became addicted to it.

      p Originally, I simply loved watching cartoons. Back then, in cartoon network, they used to show some Anime shows ( I didn't know they were anime though ) like Dragon Ball Z and Cardcaptor Sakura. Later, a new TV channel popped up known as Animax. It was full of Anime shows. But both Cartoon Network and Animax aired same seasons whole year long. For example, they never showed the second season of Slam Dunk. What a bummer.

      p Later, one of my friend introduced me to a website where one can read Manga translated in english for free. The first manga I read was <a href="https://en.wikipedia.org/wiki/Slam_Dunk_(manga)">Slam Dunk</a>, and when I realized the episodes I watched on Animax were only half the story, I just had to read it till the end. And then I was hooked.

      p Since class 8, I have been reading Manga. It was such a struggle to read so many chapters with 8kbps internet speed. My slow net is the primary reasons why I got hooked with Manga instead of Anime. I simply didn't have enough speed to stream Anime.

      p I have read tons of Manga and out of all those, One Piece is my favorite. I mostly read Action, Adventure, Martial Arts, Sports and Psychological Mangas. I avoid categories like Romance and Drama.

    .three.items
      img(src="/public/img/one-piece.jpg")
      img.u-margin-top(src="/public/img/slam-dunk.jpg")
