doctype 5
html(lang='en')
  head
    // Meta tags
    meta(name='viewport', content='width=device-width', initial-scale=1, shrink-to-fit=no)

    block head
      link(rel="stylesheet", href="/scss/main.css", media="screen", title="no title", charset="utf-8")
  body
    .container
      include partials/header.pug

      .p-x-2
        block content

      include partials/footer.pug

    script(src='/js/layout/main.min.js')
    block scripts
