doctype 5
html
  head
    block head
      link(rel="stylesheet", href="/public/css/normalize.css", media="screen", title="no title", charset="utf-8")
      link(rel="stylesheet", href="/public/css/simplecss.css", media="screen", title="no title", charset="utf-8")
      link(rel="stylesheet", href="/public/css/utilities.css", media="screen", title="no title", charset="utf-8")
      link(rel="stylesheet", href="/public/css/style.css", media="screen", title="no title", charset="utf-8")

      //Raleway fonts
      link(href="https://fonts.googleapis.com/css?family=Raleway", rel="stylesheet" type="text/css")
  body
    .container
      include partials/header.pug

      block content

      include partials/footer.pug
